h1 {
    color: black;
    font-size: 40px;
}

li a {
	color: blue;
	font-size: 1.8em;
}

ul {
	color: red;
}

ol li {
	color: red;
	font-size: 1.8em;
}

h2 {
	color: rebeccapurple;
	font-size: 1.2em;
}

body {
	background-color: lightblue;
}

img {
	width: 300px;
}